body {
    padding: 60px 0;
    background: #ffffff;
}

.error {
    color: red;
    font-size: .8em;
}

.jumbotron {
    background-size: cover;
    background-position: center center;
    height: 300px;
}

.jumbotron h1 {
    font-size: 48px;
    font-weight: bold;
}

.jumbotron p {
    font-size: 20px;
}